body, html {
  height: 100%;
  }

.background-photo {
  background-image: url("https://free-hd-wall-papers.com/images/technology-wallpaper/technology-wallpaper-15.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
/* Landing Page */
.background {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 
.projects-grid{
  display:flex;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
} 

.landing-grid {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align: center;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar-img {
  height: 500px;
  padding-top: 5em;

}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  padding-top:2em;
}

.banner-text h1 {
  padding-top:25px;
  font-size: 66px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner-text p {
  color: white;
  font-size:20px;
  padding: 1em; 
  text-align:center;

}

.social-links{
  display:flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  padding-bottom:25px;
  color:white;
  font-size: 5em;
  
}

/* Contact Page */
.contact-body{
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content:center;
  padding-top:2em;

}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color:black;
  margin-bottom: 20px; 
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  width: '75px';
  margin: 'auto';
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.contact-grid h3 {
  font-family: 'Anton', sans-serif;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i { 
  padding-right: 5rem;
  font-size: 60px;
  
}
/* Resume Page */

.resume-right-col{
  color: black;
  
}

.resume-right-col h2 {
  text-decoration: underline;
}

resume-right-col li{
  font-size: 1em;
}

.resume-left-col{
  text-align: center;

}


/* General */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:visited{
  color:rgb(7, 7, 97);
}